body {
    font-family: 'Circe', sans-serif;
    font-family: 'Circe Bold', sans-serif;
    font-family: 'Gilam', sans-serif;
    max-width: 1920px;
  }
.container {
    max-width: 1460px;
    box-sizing: border-box;
    margin: 0 auto;
}
.bg1 {
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.header {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-top: 46px;
}
.contact {
    display: flex;
    justify-content: space-between;
}
.border {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
    place-self: center;
    text-decoration: none;
    font-size: 18px;
    color: #E4B564;
    border: 1px solid #E4B564;
    font-weight: 400;
    margin-left: 10px;
}
.border > a {
    text-decoration: none;
    color: #E4B564;
}
h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
 }
h3 {
    color: white;
    font-size: 18px;
    font-weight: 700;
}
p {
    color: white;
    padding-left: 20px;
}
span {
    color: #E4B564;
}
.grid {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 266px 266px;
    grid-template-areas:
"grid_item1 grid_item1 grid_item2 grid_item2 grid_item3 grid_item3"
"grid_item4 grid_item4 grid_item4 grid_item5 grid_item5 grid_item5 ";
    gap: 25px;
    margin-bottom: 20px;
    margin-top: 44px;
}
.grid-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.grid-text > p {
    text-align: center;
}
.grid_item1 {
    grid-area: grid_item1;
    background-color: #634F2C;
}
.grid_item2 {
    grid-area: grid_item2;
    background-color: #B4A385;
}
.grid_item3 {
    grid-area: grid_item3;
    background-color: #E4B564;
}
.grid_item4 {
    grid-area: grid_item4;
    background-color: #635A4A;
}
.grid_item5 {
    grid-area: grid_item5;
    background-color: #B08C4D;
}
.auto {
    max-height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.auto div {
    flex-shrink: 0;
}
.auto1 {
    min-height: 310px;
    background-color: #0E0E0E;
}
.auto2 {
    height: 560px;
    background-color: #1F1F1F;
}
.auto3 {
    height: 435px;
    background-color: #242424;
}
.auto4 {
    height: 435px;
    background-color: #E4B564;

}
.auto5 {
    height: 255px;
    background-color: #1F1F1F;
}
.auto6 {
    height: 313px;
    background-color: #0E0E0E;
}
.auto7 {
    height: 272px;
    background-color: #0A0909;
}

.second_section {
    margin-top: 60px;
    padding-bottom: 30px;
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 266px 266px;
    grid-template-areas:
"company1 company2 company3"
"company4 company5 company6";
}
.bg2 {
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.clients-border {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 20px 0;
}
.img-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-ball {
    width: 50%;
    height: auto;
}
.company1 {
    grid-area: company1;
    background-color: #634F2C;
}
.company2 {
    grid-area: company2;
    background-color: #E8D2AB;
}
.company2 p {
    margin-top: 0;
}
.company3 {
    grid-area: company3;
    background-color: #E4B564;
}
.company4 {
    grid-area: company4;
    background-color: #635A4A;
}
.company5 {
    grid-area: company5;
    background-color: #B08C4D;
}
.company6 {
    grid-area: company6;
    background-color: #634F2C;
}



